<h1>Editing housekeeper</h1>

<%= render "form", housekeeper: @housekeeper %>

<br>

<div>
  <%= link_to "Show this housekeeper", @housekeeper %> |
  <%= link_to "Back to housekeepers", housekeepers_path %>
</div>
